/MD22/spatial_graph/md22/dha_dft.npz filter=lfs diff=lfs merge=lfs -text
/MD22/spatial_graph/md22/nhme_dft.npz filter=lfs diff=lfs merge=lfs -text
/MD22/spatial_graph/output.zip filter=lfs diff=lfs merge=lfs -text
